Repository kokkos/kokkos-kernels, pull requests merged in 2022-08, with the labels that each got.

#1482 TPLs: adding CUBLAS in the list of dependencies
  cmake/Dependencies.cmake
Labels: bug

#1486 Update --verbose option in D2 coloring perftest
  perf_test/graph/KokkosGraph_color_d2.cpp
Labels: enhancement

#1433 Move SerialGEMV to KokkosBlas
  src/batched/KokkosBatched_Util.hpp
  src/batched/dense/KokkosBatched_Gemv_Decl.hpp
  src/batched/dense/KokkosBatched_InnerMultipleDotProduct_Decl.hpp
  src/batched/dense/KokkosBatched_Vector.hpp
  src/batched/dense/impl/KokkosBatched_Gemv_Serial_Impl.hpp
  src/batched/dense/impl/KokkosBatched_Gemv_Serial_Internal.hpp
  src/batched/dense/impl/KokkosBatched_Gemv_TeamVector_Internal.hpp
  src/batched/dense/impl/KokkosBatched_Gemv_Team_Internal.hpp
  src/batched/dense/impl/KokkosBatched_InnerMultipleDotProduct_Serial_Impl.hpp
  src/batched/dense/impl/KokkosBatched_ShiftedTrsv_Serial_Internal.hpp
  src/batched/dense/impl/KokkosBatched_Trsv_Serial_Internal.hpp
  src/batched/sparse/impl/KokkosBatched_GMRES_Serial_Impl.hpp
  src/blas/KokkosBlas2_serial_gemv.hpp
  src/blas/impl/KokkosBlas2_serial_gemv_impl.hpp
  src/blas/impl/KokkosBlas2_serial_gemv_inner_multiple_dot.hpp
  src/blas/impl/KokkosBlas2_serial_gemv_internal.hpp
  src/blas/impl/KokkosBlas_util.hpp
  src/impl/tpls/KokkosBlas2_serial_gemv_tpl_spec_decl.hpp
  src/sparse/impl/KokkosSparse_spmv_blockcrsmatrix_impl.hpp
  src/sparse/impl/KokkosSparse_spmv_bsrmatrix_impl.hpp
  src/sparse/impl/KokkosSparse_sptrsv_solve_impl.hpp
  test_common/KokkosKernels_TestUtils.hpp
  unit_test/batched/dense/Test_Batched_Dense.hpp
  unit_test/batched/dense/Test_Batched_SerialGemv.hpp
  unit_test/batched/dense/Test_Batched_SerialGemv_Complex.hpp
  unit_test/batched/dense/Test_Batched_SerialGemv_Real.hpp
  unit_test/batched/dense/Test_Batched_SerialGesv.hpp
  unit_test/batched/dense/Test_Batched_TeamGemv.hpp
  unit_test/batched/dense/Test_Batched_TeamGesv.hpp
  unit_test/batched/dense/Test_Batched_TeamVectorGesv.hpp
  unit_test/blas/Test_Blas.hpp
  unit_test/blas/Test_Blas2_serial_gemv.hpp
Labels: AT: PRE-TEST INSPECTED

#1043 Adding my weighted graph coarsening code into kokkos-kernels
  src/common/KokkosKernels_HashmapAccumulator.hpp
  src/graph/KokkosGraph_CoarsenConstruct.hpp
  src/graph/KokkosGraph_CoarsenHeuristics.hpp
  unit_test/graph/Test_Graph.hpp
  unit_test/graph/Test_Graph_coarsen.hpp
Labels: AT: PRE-TEST INSPECTED
