Repository kokkos/kokkos-kernels, pull requests merged in 2024-11, with the labels that each got.

#2229 ODE - RK: fixing small issues reported by Yaro
  ode/impl/KokkosODE_BDF_impl.hpp
  ode/impl/KokkosODE_RungeKuttaTables_impl.hpp
  ode/impl/KokkosODE_RungeKutta_impl.hpp
  ode/src/KokkosODE_BDF.hpp
  ode/src/KokkosODE_RungeKutta.hpp
  ode/src/KokkosODE_Types.hpp
  ode/unit_test/Test_ODE.hpp
  ode/unit_test/Test_ODE_RK.hpp
  ode/unit_test/Test_ODE_RK_chem.hpp
  ode/unit_test/Test_ODE_RK_counts.hpp
  ode/unit_test/Test_ODE_TestProblems.hpp
  perf_test/ode/KokkosODE_RK.cpp
Labels: bug, Cleanup

#2423 Ode sycl fix
  ode/unit_test/Test_ODE_RK_counts.hpp
Labels: BlocksPromotion

#2440 workflow: updating kokkos version for CI testing
  .github/workflows/at2.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
Labels: AT2-SPECIAL-APPROVAL

#2439 ci: Disable PR tests which ran on `sogpu01` at Sandia
  .github/workflows/at2.yml
  .github/workflows/bdw.yml
Labels: AT2-SPECIAL-APPROVAL
